<div class="container mt-2">
    <div class="row">
      <div class="col-12 mb-3 d-flex justify-content-between">
        <a routerLink="/accounts/create" class="btn btn-primary">
          <i class="bi bi-plus-circle-fill me-2"></i>
          Create New Account
        </a>
        <button (click)="handleLogout()" class="btn btn-danger">
          <i class="bi bi-box-arrow-right me-2"></i>
          Logout
        </button>
      </div>
      <div class="col col-md-6">
        <div class="card">
          <div class="card-header">Accounts</div>
          <div class="card-body">
            <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
              <div class="input-group">
                <label class="input-group-text">Account Id :</label>
                <input type="text" formControlName="accountId" class="form-control">
                <button class="btn btn-info">
                  <i class="bi bi-search"></i>
                  Search
                </button>
              </div>
            </form>
            <ng-template #errorTemplate>
              @if (errorMessage) {
                <div class="text-danger">{{errorMessage}}</div>
              } @else {
                Loading ...
              }
            </ng-template>
            @if (accountObservable | async; as accountDetails) {
              <div class="mb-2">
                <label>Account ID :</label>
                <label><strong>{{accountDetails.accountId}}</strong></label>
              </div>
              <div class="mb-2">
                <label>Balance :</label>
                <label><strong>{{accountDetails.balance | number : '1.2-2'}}</strong></label>
              </div>
              <table class="table">
                <thead>
                  <th>ID</th><th>Date</th><th>Type</th><th>Amount</th>
                </thead>
                <tbody>
                  @for (op of accountDetails.accountOperationDTOS; track op.id) {
                    <tr>
                      <td>{{op.id}}</td>
                      <td>{{op.operationDate | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                      <td>{{op.type}}</td>
                      <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                    </tr>
                  }
                </tbody>
              </table>
              <ul class="nav nav-pills">
                @for (item of getPageNumbers(accountDetails.totalPages); track item) {
                  <li>
                    <a [class.btn-info]="item==currentPage" [class.btn-outline-info]="item!=currentPage" (click)="gotoPage(item)" class="btn ms-1 mt-1">{{item}}</a>
                  </li>
                }
              </ul>
            }
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        @if (accountObservable) {
            <div class="card">
                <div class="card-header">Operations</div>
                <div class="card-body">
        
                  <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()" method="post">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
                      <label class="form-check-label">DEBIT:</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
                      <label class="form-check-label">CREDIT:</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER">
                      <label class="form-check-label">TRANSFER:</label>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Amount :</label>
                      <input type="text" formControlName="amount" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Description :</label>
                      <input type="text" formControlName="description" class="form-control">
                    </div>
                    @if (operationFromGroup.value.operationType=='TRANSFER') {
                      <div class="mb-3">
                        <label class="form-label">Account Destination :</label>
                        <input type="text" formControlName="accountDestination" class="form-control">
                      </div>
                    }
                    <div class="d-grid mb-3">
                      <button class="btn btn-success">Save Operation</button>
                    </div>
                  </form>
                </div>
              </div>
        }  
      </div>
    </div>
  </div>
  <div class="card d-flex align-items-center vh-100" style="margin-top: 20px;">
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th class="sorting" > Type </th>
            <th class="sorting" > CreatedAt </th>
            <th class="sorting" > Status </th>
            <th class="sorting" > Balance </th>
            <th class="sorting" > InterestRate </th>
            <th class="sorting" > overDraft</th>
            <th class="sorting" > Customer Name </th>
            <th class="sorting" > Customer Email </th>
            <th class="sorting" > Actions </th>
          </tr>
        </thead>
        @if (accounts) {
          <tbody>
            @for (account of accounts ; track account.id) {
              <tr>
                <td>
                  <span class="text-heading">{{ account.type }}</span>
                </td>
                <td>
                  <span class="text-heading">{{account.createdAt | date : 'dd-MM-yyyy'}}</span>
                </td>
                <td>
                  <span class="text-heading">{{account.status}}</span>
                </td>
                <td>
                  <span class="text-heading">{{account.balance}}</span>
                </td>
                <td>
                  <span class="text-heading">{{account.interestRate}}</span>
                </td>
                <td>
                    <span class="text-heading">{{account.overDraft}}</span>
                </td>
                <td>
                    <span class="text-heading">{{account.customerDTO.name}}</span>
                </td>
                <td>
                    <span class="text-heading">{{account.customerDTO.email}}</span>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <a [routerLink]="['/accounts/update', account.id]" [state]="{ account: account }" class="btn btn-warning me-2">
                      <i class="bi bi-pen" style="font-size: 1em; color: #007bff;"></i>
                    </a>
                    <button type="button" class="btn btn-danger" (click)="handleDeleteAccount(account.id)">
                      <i class="bi bi-trash" style="font-size: 1em; color: #007bff;"></i>
                    </button>
                  </div>
                </td>
              </tr>
            }
            </tbody>
        }
      </table>
    </div>
  </div>